<h3>Welcome <%= @vol.first_name %>!</h3>
 <%= form_tag do%>
 	<label> Please select your zone </label>
 	<%= select_tag 'zone', options_for_select(@zones)%> <br/>
 	<label> Please select your center </label>
 	<%= select_tag 'center', ''%> <br/>
 <% end %>

<script>
	$(document).ready(function() {
		$('#zone').on('blur', function() {
			$.ajax({
				url: "<%= update_centers_path %>",
				data: {
				  zone_id : $('#zone').val()
				},
			dataType: "script"
			});
		});
	$("#center").on('change', function() {
		$.ajax({
			url: "<%= center_redirect_path %>",
				data: {
				  center_id : $('#center').val()
				},
			dataType: "script"
			});
		});
	});
</script>
