<div class="well well-sm">
	<h3> Welcome to the Kanini Log Recorder </h3>

	<ul>
		<li><b> What is this? </b> </li>
		<p> This is a web application to record details of kanini classes, including volunteers and students attendance.</p>
		<li> <b> How do I access this? </b> </li>
		<p> Simple! Just login with your gmail id which you have given as primary contact email for Bhumi. </p>
		<li><b>Who can access this? </b></li>
		<p> Volunteers who are either center coordinators or batch coordinators can access this with their gmail id registered with Bhumi.</p>
		<li> <b> What all can I fill using this application? </b></li>
		<p> All details regarding kanini classes in your center.For example - date, conducted status,chapter and sub chapter taught,volunteer attendance, students attendance, number of working systems, and optionally, additional comments. </p>
		<li> <b> Will I be able to edit the details after filling them? </b> </li>
		<p> NO! Details once entered, cannot be editted. In case you want to modify any details, please write to us at kpi.kanini@gmail.com </p>
		<li> <b> Further questions? Do not hesitate to email us at kpi.kanini@gmail.com </b></li>
</div>