<p> Dear Volunteer, </p>
<p> Attendance details for the class dated <%= @class.date %> have not been filled yet. </p>
<p> Kindly update the same via klog as early as possible. </p> </br>

<p><i> Thank You, </i></p>
<p><i> Kanini KPI Team </i></p>