<p> Details of Bhumi Class dated :<%= @class.date %> has been recorded </p>
<p> <u>Details of the class:</u> </p>
<p> <b> Conducted Status: </b><% if @class.conducted_status == true %>Yes<% else %>No<% end %></p>
<% if @class.conducted_status == true %>
	<p> <b>Chapter:</b> <%= Chapter.where(:id=>@class.chapter_taught)[0].name %> <p>
	<p> <b>Sub Chapter: </b> <%= SubChapter.where(:id=>@class.sub_chapter_taught)[0].name %> </p>
	<p> <b>No. of systems: </b> <%= @class.no_of_systems %> </p>
<% else %>
	<p><b> Reason for cancellation: </b> <%= @class.reason_for_cancellation %> </p>
<% end %>

<p><i> Thank You, </i></p>
<p><i> Kanini KPI Team </i></p>