<p> Please find below, the status of log sheets </p>
<table border="1">
	<tr>
		<th> Center Name </th>
		<th> Zone Name </th>
		<th> Saturday </th>
		<th> Sunday </th>
	</tr>
	<%Center.all.each do |c| %>
		<tr>
			<td> <%= c.name %> </td>
			<td> <%= c.zone.name %> </td>
			<td> <%= c.saturday_filling_status %> </td>
			<td> <%= c.sunday_filling_status %> </td>
		</tr>
	<% end %>
</table>
