<p> Dear Volunteer, </p> 

<p>Please Fill the log details for Bhumi classes conducted on <%= Date.today-2.days %> and 
<%= Date.today-1.days %></p>
<p> Please ignore if already filled </p>

<p><i> Thank You, </i></p>
<p><i> Kanini KPI Team </i></p>