<div class="well">
  <%= form_for([@center, @center.bhumi_classes.build]) do |f| %>
    <div>
      <%= f.label :date %>
      <%= f.text_field 'date', 'data-behaviour' =>'datepicker'%> <br/>

      <%= f.hidden_field 'filled_by', :value =>current_volunteer.id %>

      <%= f.label :conducted_status %>
      <div id="status-dropdown">
        <%= f.select 'conducted_status', options_for_select({ "Conducted" => 1, "Cancelled" => 0 }), :prompt => "Select" %> <br/>
      </div>
      <div id="class_details" style="display:none">
        <%= f.label :chapter_taught %>
        <%= f.select 'chapter_taught', options_for_select(Chapter.all.collect{|c| [c.name,c.id]}).html_safe, { :include_blank => "Select"}  %><br />
        
	<div id="subchaptersDiv">
        <%= f.label :sub_chapter_taught %>
        <%= render :partial => '/bhumi_classes/sub_chapters' , :locals => { :subchapter => ""} %>
        </div>

        <%= f.label :no_of_systems %>
        <%= f.text_field 'no_of_systems'%> <br/>


      </div>

      <div id="cancellation_details" style="display:none" >
        <%= f.label :reason_for_cancellation %> 
        <%= f.select 'reason_for_cancellation', options_for_select(["Volunteer Related", "Kids Related", "Center Related", "Systems Related", "External Reasons" ]).html_safe, { :include_blank => "Select" } %> <br/>
      </div>

      <%= f.label :comment %>
      <%= f.text_field 'comment'%> <br/>


    <div>
      <%= f.submit "Save", :id => "class-submit", :class => "btn btn-success", :confirm => "Are you sure to submit? Once submitted, you cannot edit the class details"%>
    </div>
    <div class = "errors" style="top:100%;left:42%"</div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
	     format: 'yyyy-mm-dd',
	     beforeShowDay: onlyWeekends
	   });

   function onlyWeekends(date) {
    var day = date.getDay();
    var today = new Date();
        if(date <= today) {
           if(day == 0 || day == 6) {
             return true;
           } else {
           return false;
           }
        }
        else {
                return false;
        }
  }

  $("#bhumi_class_conducted_status").on('change', function(){
    var status = $(this).val();
    if(status == 0) {
      $("#class_details").hide();
      $("#cancellation_details").show();
    } else {
      $("#cancellation_details").hide();
      $("#class_details").show();
    }
  });

  $("#bhumi_class_date").on('changeDate',function(){
	  $("#bhumi_class_date").datepicker('hide');
  });

  $("#class-submit").click(function(e) {
      var is_valid = true;
      var error_messages = "";
      date = $("#bhumi_class_date");
      var selected_date = new Date($("#bhumi_class_date").val())
      var today = new Date;
      selected_date.setHours(0,0,0,0);
      today.setHours(0,0,0,0);
      if (date.val()==null || date.val()=="") {
        date.addClass('error-border');
        error_messages += "<li>Date is required</li>"
        is_valid = false;
      } else if(selected_date > today) {
        date.addClass('error-border');
        error_messages += "<li>Date should not be a future date</li>"
        is_valid = false;
      } else {
        date.removeClass('error-border');
      }
      var status = $("#bhumi_class_conducted_status");
      if(status.val() == "") {
        status.addClass("error-border");
        error_messages += "<li>Conducted Status is required</li>"
        is_valid = false;
      } else {
        status.removeClass('error-border');
      }

      var systems = $("#bhumi_class_no_of_systems");
      if( $("#bhumi_class_conducted_status").val()==1) {
        if(systems.val()=="" || systems.val()== null) {
          systems.addClass('error-border');
          error_messages += "<li>No. of systems is required</li>"
          is_valid = false;
        } else if(!($.isNumeric(systems.val()))) {
         systems.addClass('error-border');
         error_messages += "<li>No. of systems should be an integer</li>"
         is_valid = false;
        } else {
         systems.removeClass('error-border');
        }
      }
      if (is_valid == false) {
      $('.errors').html("<ul>" + error_messages + "</ul>");
        $('.errors').show();
        e.preventDefault();
        return false;
      } else {
        return true;
    }
    });

    $("#bhumi_class_chapter_taught").change(function() {
    var chapter = $('select#bhumi_class_chapter_taught :selected').val();
    cen="<%= @center.id %>";
    if(chapter == "") chapter="0";
     $.get('/bhumi_classes/update_sub_chapters/' + chapter, { center: cen}, function(data){
        $("#subchaptersDiv").html(data);
    })
    return false;
    });

});
</script>
