<div id="studentModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Student Attendance</h3>
  </div>
  <div class="modal-body">
    <%= form_tag(student_attendances_path, :method => :post) do %>
      <table id="student-table" class="table table-hover" style = "margin:30px;">
        <% @students.each_with_index do |s,i| %>
          <tr>
            <td><%= s.full_name %></td>
            <%= hidden_field_tag "student_attendances[#{i}][student_id]", s.id %>
            <%= hidden_field_tag "student_attendances[#{i}][bhumi_class_id]", @class.id %>
            <td>
              <%= radio_button_tag "student_attendances[#{i}][attendance_status]", 'P' %> &nbsp; Present &nbsp;
              <%= radio_button_tag "student_attendances[#{i}][attendance_status]", 'A',:checked => true %> &nbsp; Absent &nbsp;
              
              <br/>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <%= submit_tag "Save" ,:id => "student_attendance_save", :class => "btn btn-success" , :style => "margin:30px;",:confirm => "Are you sure to submit? Once submitted, you cannot edit the attendance details"%>
    <%= button_tag "Cancel" ,:id => "student_attendance_cancel", 'data-dismiss' => "modal",:class => "btn btn-danger" %>
  <% end %>
</div>