<%= form_for([@center, @center.bhumi_classes.build])  do |form| %>
<% if !subchapter.blank? %>
<%= form.label :sub_chapter_taught %>
<%= form.select 'sub_chapter_taught', options_for_select(subchapter.collect{|s| [s.name,s.id]}).html_safe, { :include_blank => "Select" } %>
<% else %>
<%= form.select 'sub_chapter_taught', options_for_select([]).html_safe, { :include_blank => "Select" } %>
<% end %>
<% end %>
