<div id="volunteerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Volunteer Attendance</h3>
  </div>
  <div class="modal-body">
    <%= form_tag(volunteer_attendances_path, :method => :post) do %>
      <table id="volunteer-table" class="table table-hover" style = "margin:30px;">
        <% @volunteers.each_with_index do |v,i| %>
          <tr>
            <td><%= v.full_name %></td>
            <%= hidden_field_tag "volunteer_attendances[#{i}][volunteer_id]", v.id %>
            <%= hidden_field_tag "volunteer_attendances[#{i}][bhumi_class_id]", @class.id %>
            <td>
              <%= radio_button_tag "volunteer_attendances[#{i}][attendance_status]", 'P' %> &nbsp; Present &nbsp;
              <%= radio_button_tag "volunteer_attendances[#{i}][attendance_status]", 'A',:checked => true  %> &nbsp; Absent &nbsp;
              <%= radio_button_tag "volunteer_attendances[#{i}][attendance_status]", 'L' %> &nbsp; Leave &nbsp; 
              <%= radio_button_tag "volunteer_attendances[#{i}][attendance_status]", 'NA' %> &nbsp; NA &nbsp;
              <br/>
            </td>
          </tr>
        <% end %>
      </table>
  </div>
    <%= submit_tag "Save" ,:id => "volunteer_attendance_save", :class => "btn btn-success" , :style => "margin:30px;" ,:confirm => "Are you sure to submit? Once submitted, you cannot edit the attendance details"%>
    <%= button_tag "Cancel" ,:id => "student_attendance_cancel", 'data-dismiss' => "modal",:class => "btn btn-danger"%>
    <% end %>
</div>