<% if @count!="" %>
<% flash.notice="The log for this date has already been recorded" %>
<% end %>
<% if @class.conducted_status == true %>
<% if @class.volunteer_attendances.count == 0 || @class.student_attendances.count == 0 %>
<% flash.alert="Please Fill the Attendance" %>
<% end %>
<%if @class.volunteer_attendances.count == 0 %>
	<%= link_to('Add Volunteer Attendance','#volunteerModal', "data-toggle" => "modal", :class => 'btn btn-primary') %>
<% end %>
<%if @class.student_attendances.count == 0 %> 
	<%= link_to('Add Students Attendance','#studentModal', "data-toggle" => "modal", :class => 'btn btn-primary') %>
<% end %>
<% end %>
<br/><br/>
<%= render :partial => "bhumi_classes/volunteer_attendance_modal" %>
<%= render :partial => "bhumi_classes/student_attendance_modal" %>
<h3> Class Details </h3>
<div id="class-details" class="well">
	<p> <b> Date: </b> <%= @class.date %> </p>
	<p> <b> Day: </b> <%= @class.day_of_week %> </p>
	<p> <b> Conducted Status: </b><% if @class.conducted_status == true %>Yes<% else %>No<% end %></p>
	<%if @class.conducted_status == true %>
		<p> <b> Chapter: </b> <%= Chapter.where(:id=>@class.chapter_taught)[0].name %> </p>
	        <p> <b> Sub Chapter: </b> <%= SubChapter.where(:id=>@class.sub_chapter_taught)[0].name %> </p>
		<p> <b> No. of systems: </b> <%= @class.no_of_systems %> </p>
	<% else %>
		<p> <b> Reason for cancellation: </b> <%= @class.reason_for_cancellation %> </p>
	<% end %>
</div>

<h3> Volunteer Attendance </h3>
<table class="table table-hover" style = "margin:30px;">
	<% @class.volunteer_attendances.all.each do |v| %>
	<tr>
		<td> <%= v.volunteer.full_name %> </td>
		<td> <%= v.attendance_status %> </td>
	</tr>
	<% end %>
</table>


<h3> Student Attendance </h3>
<table class="table table-hover" style = "margin:30px;">
	<% @class.student_attendances.all.each do |v| %>
	<tr>
		<td> <%= v.student.full_name %> </td>
		<td> <%= v.attendance_status %> </td>
	</tr>
	<% end %>
</table>
