/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require_tree .

 */


.errors {
  position: absolute;
  top: 303px;
  left: 610px;
  padding: 5px;
  color: red;
}
.errors li {
  list-style-type: circle;
}

.error-border {
  border: 1px solid red !important;
}

ul.error_messages {
  color: red;
  list-style-type: disc;
  margin-left: 80px;
  margin-top: 20px;  
}

.error_messages {
  position: fixed;
  top: 200px;
  right: 125px;
}