<ul class="nav pull-right">
  <% if volunteer_signed_in? %>
    <li>
    	
    	<%= link_to('Create New Class', center_path(current_volunteer.center.id), :method=>'get', :style=>"font-weight:bold; float:left") %>
    	<%= link_to('Logout', destroy_volunteer_session_path, :method=>'delete', :style=>"font-weight:bold ;float:left") %>
    </li>
  <% else %>
    <li>
    	<%= link_to('Login', volunteer_omniauth_authorize_path(:google_oauth2), :style=>"font-weight:bold" )  %>
    </li>
  <% end %>
</ul>
