<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Kanini Log" %></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
    <h1><a href="#" style="float:left; position:absolute;top:33%">Kanini Log</a></h1>
    <a href="https://www.bhumi.org.in" target="_blank">
      <img id="bhumi-logo" src="/bhumi_logo.jpg" alt="Bhumi Logo" style="float:right"/>
    </a>
      <div style="clear:both"></div>
    <header class="navbar">
      <nav class="navbar-inner">
          <%= render 'layouts/navigation' %>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
   </dev>
</body>
</html>

